{% extends 'base.html' %}


{% load static %}


{% block content %}

<!-- Header Start -->
<div class="container-fluid page-header">
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
            <h3 class="display-4 text-white text-uppercase">{{agency.agency_name}}</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="">Package Provider</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">{{agency.agency_name}}</p>
            </div>
        </div>
    </div>
</div>

<div class="pt-5 container">
    <div class="row">
        {% for x in packages %}
        <a href="{% url 'detail-package' x.id %}">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="package-item bg-white mb-2">
                    <img class="img-fluid" src="{{x.image.url}}" alt="">
                    <div class="p-4">
                        <div class="d-flex justify-content-start mb-3">
                            <small class="m-0"><i class="fa fa-calendar-alt text-primary mr-2"></i>{{x.duration_days}}
                                days</small>
                        </div>
                        <a class="h5 text-decoration-none" href="single.html">{{x.title}}</a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small>
                                </h6>
                                <h5 class="m-0">{{x.price}}₹</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

<!-- Blog Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-8">
                <!-- Blog Detail Start -->
                <div class="pb-3">
                    <div class="blog-item">
                    </div>
                    <div class="bg-white mb-3" style="padding: 30px;">
                        {{agency.blog | safe}}
                    </div>
                </div>
                <!-- Blog Detail End -->

                <!-- Comment List Start -->
                <div class="bg-white" style="padding: 30px; margin-bottom: 30px;">
                    <h4 class="text-uppercase mb-4" style="letter-spacing: 5px;">{{reviews|length}} REVIEWS</h4>
                    {% if reviews %}


                    {% for x in reviews %}
                    <div class="media mb-4">
                        <img src="{% static 'img/user.jpg' %}" alt="Image" class="img-fluid mr-3 mt-1"
                            style="width: 45px;">
                        <div class="media-body">
                            <h6><a href="">{{x.author}}</a> <small><i>{{x.created}}</i></small></h6>
                            <p>{{x.review}}</p>
                        </div>
                    </div>
                    {% endfor %}

                    {% else %}
                    <h4 class="text-muted">No Reviews</h4>

                    {% endif %}
                </div>
                <!-- Comment Form Start -->
                <div class="bg-white mb-3" style="padding: 30px;">
                    <h4 class="text-uppercase mb-4" style="letter-spacing: 5px;">Leave Your Review</h4>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="message">Message *</label>
                            <textarea id="message" name="message" cols="30" rows="5" class="form-control"></textarea>
                        </div>
                        <div class="form-group mb-0">
                            <input type="submit" value="Leave Review"
                                class="btn btn-primary font-weight-semi-bold py-2 px-3">
                        </div>
                    </form>
                </div>
                <!-- Comment Form End -->
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->

{% endblock content %}