{% extends 'base.html' %}
{% load static %}


{% block content %}


<!-- Header Start -->
<div class="container-fluid page-header">
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
            <h3 class="display-4 text-white text-uppercase">Registration</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">Registration</p>
            </div>
        </div>
    </div>
</div>


<!-- Contact Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-3 pb-3">
            <h1>WELCOME</h1>
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Register Your Agency Here</h6>

        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="contact-form bg-white" style="padding: 30px;">
                    <div id="success"></div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="control-group col-sm-12">
                                <label style="color: black;" for="">Agency Name (Username)</label>
                                <input type="text" class="form-control p-4" id="name" name="agency_name"
                                    placeholder="Enter Agency Name" required="required"
                                    data-validation-required-message="" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group col-sm-12">
                                <label style="color: black;" for="">Admin Name</label>
                                <input type="text" class="form-control p-4" id="name" name="admin_name"
                                    placeholder="Enter Agency Admin Name" required="required"
                                    data-validation-required-message="" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group col-sm-12">
                                <label style="color: black;" for="">Email</label>
                                <input type="email" class="form-control p-4" id="email" name="email"
                                    placeholder="Your Email" required="required"
                                    data-validation-required-message="Please enter your email" />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <label style="color: black;" for="">Contact Number</label>
                            <input type="text" class="form-control p-4" id="subject" name="contact_number"
                                placeholder="Contact Number" required="required"
                                data-validation-required-message="Please enter Contact Number" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-row">
                            <div class="control-group col-sm-6">
                                <label style="color: black;" for="">State</label>

                                <select name="state" id="state" class="form-control">
                                    <option value="Kerala">Kerala</option>

                                </select>

                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group col-sm-6">
                                <label style="color: black;" for="">District</label>

                                <select name="district" id="cars" class="form-control">
                                    <option value="Alappuzha">Alappuzha</option>
                                    <option value="Ernakulam">Ernakulam</option>
                                    <option value="Kozhikode">Kozhikode</option>
                                    <option value="Palakkad">Palakkad</option>
                                    <option value="Kollam">Kollam</option>
                                    <option value="Kannur">Kannur</option>
                                    <option value="Kasaragod">Kasaragod</option>
                                    <option value="Idukki">Idukki</option>
                                    <option value="Kottayam">Kottayam</option>
                                    <option value="Trissur">Trissur</option>
                                    <option value="Pathanamthitta">Pathanamthitta</option>
                                    <option value="Malappuram">Malappuram</option>
                                    <option value="Wayanad">Wayanad</option>
                                    <option value="Trivandrum">Trivandrum</option>

                                </select>

                                <p class="help-block text-danger"></p>
                            </div>

                        </div>

                        <div class="control-group">
                            <label style="color: black;" for=""> Business Address</label>
                            <textarea class="form-control py-3 px-4" rows="5" id="message" name="business_address"
                                placeholder="Address" required="required"
                                data-validation-required-message="Please enter your Address"></textarea>
                            <p class="help-block text-danger"></p>
                            <label style="color: black;" for=""> Company Description</label>
                            <textarea class="form-control py-3 px-4" name="company_description" rows="5" id="message"
                                placeholder="About Your Company" required="required"
                                data-validation-required-message="Please enter your Company Description"></textarea>
                            <p class="help-block text-danger"></p>
                            <label style="color: black;" for="">Website Link</label>
                            <input type="text" class="form-control p-4" name="website_link" id="subject"
                                placeholder="Website Link" required="required"
                                data-validation-required-message="Please Attach Your Website Link" />

                            <p></p>
                        </div>
                        <div class="form-row">
                            <div class="control-group col-sm-6">
                                <label style="color: black;" for="">Password</label>
                                <input type="password" name="password1" class="form-control p-4" id="name"
                                    placeholder="Enter New Password" required="required"
                                    data-validation-required-message="" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group col-sm-6">
                                <label style="color: black;" for="">Confirm Password</label>
                                <input type="password" name="password2" class="form-control p-4" id="name"
                                    placeholder="Re-enter Password" required="required"
                                    data-validation-required-message="" />
                                <p class="help-block text-danger"></p>
                            </div>

                        </div>


                        <div class="text-center">
                            <button class="btn btn-primary py-3 px-4" type="submit" id="sendMessageButton">Create Your
                                Account`</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->

{% endblock content %}