{% extends 'base.html' %}
{% load static %}

{% block content %}
 <!-- Header Start -->
 <div class="container-fluid page-header">
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
            <h3 class="display-4 text-white text-uppercase">Sign in</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">Sign in</p>
            </div>
        </div>
    </div>
</div>

<!-- Contact Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-3 pb-3">
            <h1>Welcome Back</h1>
            <a href="{% url 'registration' %}" class="text-primary text-uppercase" style="letter-spacing: 5px;">Don't have An Account?</a>
          
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="contact-form bg-white" style="padding: 30px;">
                    <div id="success"></div>
                    <form method='POST'>
                        {% csrf_token %}    
                        <div class="form-row">
                            <div class="control-group col-sm-12">
                                <label style="color: black;">Username</label>
                                <input type="text" name='username' class="form-control p-4" id="name" placeholder="Please enter your Username"
                                    required="required" data-validation-required-message="Please enter your username" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group col-sm-12">
                                <label style="color: black;">Password</label>
                                <input type="password" name='password' class="form-control p-4" id="passowrd" placeholder="Please enter your Password"
                                    required="required" data-validation-required-message="Please enter your Password" />
                                <p></p>
                            </div>
                        </div>
                      
                        <div class="text-center col-sm-12" >
                            <button class="btn btn-primary py-3 px-4" type="submit" id="sendMessageButton">Sign in into your account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->


{% endblock content %}