{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Blog Start -->
<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-12">
        <div class="pb-3">
          <div class="blog-item"></div>

          {% for x in messages %}
          <div class="alert alert-{{x.tags}}">{{x}}</div>
          {% endfor %}

          <div class="bg-white mb-3" style="padding: 30px">
            <h2><span class="text-info">{{package}}</span> | Tour Overview</h2>
            <div class="tour-table-overview">
              <ul>
                <li><span>Price</span><strong class="emphasize">₹ {{package.price}}</strong></li>

                <li><span>Start Date</span><strong class="emphasize">{{package.start_date}}</strong></li>

                <li><span>Type</span><strong>{{package.type_of_trip}}</strong></li>

                <li><span>Departure City</span><strong class="emphasize">{{package.departure_city}}</strong></li>

                <li><span>End City</span><strong class="emphasize">{{package.end_city}}</strong></li>

                <li><span>Contact name</span><strong>{{package.contact_name}}</strong></li>
                <li><span>Contact Number</span><strong>{{package.contact_number}}</strong></li>

                <li><span>Location</span><strong>{{package.destination}}</strong></li>

                <li><span>Package Unicode</span><strong>{{package.id}}</strong></li>
                <li><span>Durations</span><strong> {{package.duration_days}} days </strong></li>
              </ul>
            </div>

            {{package.description|safe }}
          </div>
        </div>
        <!-- Blog Detail End -->
      </div>
    </div>
  </div>
</div>
<!-- Blog End -->
{% endblock content %}
